/*
Red color: #830303
blue color: #3fe0d0
*/
*{
	margin:0px;
	padding:0px;
}
body{
	background-color: #eee;
}
a{
	text-decoration: none !important;
	color:#3fe0d0;
}
a:hover{
	color:#830303;
}
a:active{
	color:#830303;
}
.image-logo{
	height:70px;
	width:70px;
	margin-top:-5px;
}
.navbar-landing{
	height:100px;
}
a.forgetpassword{
	padding-left: 77px;
}
form.login-form {
	display:block;
	position:relative;
	margin-top: 15px;
	float:right;
}

label{
	display: inline-block;
	position: relative;
	width:5px;
	top:0px; 
	left:-184px;
	color:#999;
	font-family:'Helvetica', sans-serif;
	font-size:16px;
	font-weight: lighter;
	z-index:1;
	transition: all 0.2s ease-in;
}
input{
	display:inline-block;
	position: relative;
	background:none;
	border:none;
	border-bottom: 1px solid #aaa;
	font-family: 'Helvetica', sans-serif;
	font-weight: lighter;
	font-size: 16px;
	z-index:2;

}
input:focus , input:valid{
	outline:none;
	border-bottom: 1px solid #830303;


}
input:focus + label,input:valid + label{
	top:-17px;
	font-size:11px;
	color:#830303; 
}
button{
	padding:8px 20px;
	text-align:center;
	color:black;
	background:transparent;
	border:1px solid #830303;
	border-radius: 20px;
}
button:hover{
	background-color: #830303;
	color:white;
	border-radius:30px;
}
button:focus{
	outline:none;
	background-color: #830303;
	color:white;
	border-radius:30px;	
}
.buttoncenter{
	text-align: center;
	color:black;
}
/*.buttoncenter button{
	color:black;
}*/
.image-bloodtype img{
	height:100px;
	width:100px;
	padding-bottom: -20px;
	padding-left:-10px;
	margin-bottom: 80px;

}
.col-md-7{
	padding-left:20px;
}
.divider{
	margin-top:30px;
}
.registertitle{
	text-align: center;
}
.registerform{
	padding-left: 20px;
	background-color:#fff;
	border-radius: 25px;
	margin-top: 20px; 
}
.registerform input{
	margin-left: 45px;
}
.registerform{
	padding:10px;
}
h1.bloodavailabletitle{
	text-align: center;
	font-weight: bold;
	font-size: 50px;
	font-family: "Helvetica" sans-serif;
}
h1.registernowtitle{
	text-align: center;
	font-weight: bold;
	font-size: 50px;
	font-family: "Helvetica" sans-serif;
}
.bloodtype{
	padding-top:30px;
}