/*
Red color: #830303
blue color: #3fe0d0
*/

*{
	margin:0px;
	padding:0px;
}
body{
	background-color: #eee;
}
a{
	text-decoration: none;
	color:#830303;
}
.header{
	background-color:#ffffff;
	height:auto;
	border-radius: 20px;
}

.loginfromgrid{
	display: grid;
	grid-template-columns:1fr 1fr ;
	float:right;
}

.belowheadergrid{
	padding-top: 80px;
}
.bloodtypegrid{
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	padding-top: 20px;
	padding-left:20px;
}
.image-small img{
	height:100px;
	width:100px;
	float:left;
}
.image-bloodtype img{
	height:auto;
	width:100px;
	padding-bottom: 80px;
}
h1.registertitle{
	text-align: center;
	color:#830303;
	font-weight: bold;
	font-size: 50px;
	padding-bottom: 40px;
}
h1.bloodavailabletitle {
	text-align: center;
	color:#830303;
	font-weight: bold;
	font-size: 50px;
	padding-bottom: 20px;
}
form.login-form {
	display:block;
	position:relative;
	margin: 30px auto;
	padding-right:40px;
	
}
 .registerform label{
	display: inline-block;
	position: relative;
	top:0px;
	width:1%;
	left:-175px;
	color:#999;
	font-family:'Helvetica', sans-serif;
	font-size:16px;
	z-index:1;
	transition: all 0.2s ease-in;
}
.login-form input{
	display:inline-block;
	position: relative;
	background:none;
	border:none;
	border-bottom: 1px solid #aaa;
	font-family: 'Helvetica', sans-serif;
	font-weight: lighter;
	font-size: 16px;
	z-index:2;
	width: 44%;
}
input[type="checkbox"]{
	display: inline-block;


}

input:focus , input:valid{
	outline:none;
	border-bottom: 1px solid #830303;
	position: auto;

}
input:focus + label,input:valid + label{
	top:-17px;
	font-size:11px;
	color:#830303; 
}
button.login-button{
	padding:8px 20px;
	text-align:center;
	background:transparent;
	border:1px solid #830303;
	border-radius: 20px;
	padding-left: -10px;
	display: inline-block;
   float: right;
	position: absolute;
	margin: 0 8px;
}

button.login-button:hover{
	background-color: #830303;
	color:white;
	border-radius:30px;
}
button.login-button:focus{
	outline:none;
		background-color: #830303;
	color:white;
	border-radius:30px;	
}


/*
===========================
Css for the register Form
===========================
*/
.registerform{
background-color: #ffffff;
width: : ;
height: auto;
padding-bottom: 10px;
border-bottom: 70px;
border-radius: 10px;
border-color: #ffffff;
float: right;
}

.registerform input[type="text"] {
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    border-bottom: 1px solid #aaa;
    font-family: 'Helvetica', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    z-index: 2;
    text-align: center;
    margin-left: 31px;
}
.registerform input[type="email"] {
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    border-bottom: 1px solid #aaa;
    font-family: 'Helvetica', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    z-index: 2;
    text-align: center;
    margin-left: 31px;
}

button.login-button-register{
	padding:8px 20px;
	text-align:center;
	background:transparent;
	border:1px solid #830303;
	border-radius: 20px;
	padding-left: -10px;
	float:right;
	margin: 0 40%;
}

button.login-button-register:hover{
	background-color: #830303;
	color:white;
	border-radius:30px;
}

button.login-button-register:focus{
	outline:none;
		background-color: #830303;
	color:white;
	border-radius:30px;	
}
.loginformgrid {
    display: table;
   position: relative;
}
.loginformgrid input[type="text"]{
	
width: 51%;
}

.asd {
    position: absolute;
    left: 29px;

}

.rememberme input[type="checkbox"], input[type="radio"] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
    position: absolute;
   left: -103px;
}
.forgetpassword {
    position: absolute;
    right: 144px;
top: 29px;
}